body{
	background: #f48840;
}
main{
    background: #fff;
    width: 45%;
    margin: auto;
    min-height: 150px;
    padding:15px;
}
form{
    /*width: 60%;*/
    margin-left:15%;
}
input{
    width:30%;
    height: 30px;
    border: 4px solid skyblue;
}
button{
    width:30%;
    height:38px;
    background-color: green;
    color: #fff;
    font-size:20px;
    font-weight:bolder;
    border: 1px solid black;
}
h1{
    font-weight: bold;
    font-style: italic;
    text-decoration:underline;
}
table{
	width:100%;
	 border:2px solid red;
}
td{
	border:2px solid green;
	text-align: center;
	font-size: 18px;
    font-weight: bold;
    height: 40px;
}
table td a{
    color: white;
	font-weight: bold;
	font-style: italic;
    font-size: 16px;
    background:red;
    height: 35px;

}

th{
    background: green;
    color: white;
    font-size: 20px;
    border: 2px solid green;
}
